{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Course Feedback</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>

    {% if course_info is  defined %}
        <h3>Details</h3>
        {% for key,value in course_info.iterrows() %}
            <li>Level: {{ value['level'] }}</li>
            <li>Sub Session: {{ value['sub_session'] }}</li>
            <li>Credits: {{ value['credits'] }}</li>
        {% endfor %}

        {% for key,value in course_assessments.iterrows() %}
            <li>{{ value['name'] }}, Due: {{ value['due_date'] }}</li>
        {% endfor %}
        <h3>Results</h3>
        {% for key,value in student_results.iterrows() %}
            <li>{{ value['name'] }}, CGS: {{ value['cgs'] }}</li>
        {% endfor %}
        You ranked {{ course_rank }} out of your class of {{ class_size }}
    {% endif %}
{% endblock %}