{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Course Feedback</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>

    {% if course_info is  defined %}
        <h3>Details</h3>
        {% for key,value in course_info.iterrows() %}
            <li>Level: {{ value['level'] }}</li>
            <li>Sub Session: {{ value['sub_session'] }}</li>
            <li>Credits: {{ value['credits'] }}</li>
        {% endfor %}
    {% endif %}
    {% if course_assessments is defined %}
        {% for key,value in course_assessments.iterrows() %}
            <li>{{ value['name'] }}, Due: {{ value['due_date'] }}</li>
        {% endfor %}
    {% endif %}
    {% if student_results is defined %}
        <h3>Results</h3>
        {% for key,value in student_results.iterrows() %}
            <li>{{ value['name'] }}, CGS: {{ value['cgs'] }}</li>
        {% endfor %}
    {% endif %}
    {% if course_rank is defined %}
        You ranked {{ course_rank }} out of your class of {{ class_size }}<br>
    {% endif %}
    {% if assessment_placements is defined %}
        {% for key,value in assessment_placements.items() %}
            Your placement for {{ key }} was {{ value }} out of your class of
            {{ class_size }}<br>
        {% endfor %}
    {% endif %}
    {% if poor_early_submissions is defined %}
        {% for message in poor_early_submissions %}
            {{ message }}<br>
        {% endfor %}
    {% endif %}
    {% if required_grade_A5 is defined %}
        {% if required_grade_A5 == "N/A" %}
            You cannot achieve an A5 grade with the grades you currently have<br>
        {% else %}
            To get a A5 you need to score an overall grade of
            {{ required_grade_A5 }} in the rest of your assessments.<br>
        {% endif %}
        {% if required_grade_B3 == "N/A" %}
            You cannot achieve an B3 grade with the grades you currently have<br>
        {% else %}
            To get a B3 you need to score an overall grade of
            {{ required_grade_B3 }} in the rest of your assessments.<br>
        {% endif %}
    {% endif %}
{% endblock %}