{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Details for {{ student.username }}</h1>
    <h3>General Information</h3>
    <p>
    <ul>
     {% for key,value in details.iterrows() %}
         <li>Username: {{ value['username'] }}</li>
         <li>First Name: {{ value['f_name'] }}</li>
         <li>Last Name: {{ value['l_name'] }}</li>
         <li>Current Year: {{ value['year'] }}</li>
         <li>Programme Name: {{ value['programme_name'] }}</li>
    {% endfor %}
    </ul>
    </p>
    <p>
    <h3>Enrolled Courses</h3>
    <ul style="list-style-type:none">
            {% for course in courses %}
                <li><a href="{{ url_for('coursefeedback', course=course[0]) }}">{{ course[1] }}</a></li>
                <ul>
                    {% for assessment in summative_assessments %}
                        {% if course[0] == assessment[3] %}
                            <li>Name: {{ assessment[1] }} CGS: {{ assessment[2] }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
    </ul>
    </p>
{% endblock %}