{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Details for {{ student.username }}</h1>
    <h3>General Information</h3>
    <p>
    <ul>Username: {{ details[0][0] }}</ul>
    <ul>Forename: {{ details[0][1] }}</ul>
    <ul>Surname: {{ details[0][2] }}</ul>
    <ul>Date of Birth: {{ details[0][3] }}</ul>
    <ul>Programme: {{ details[0][4] }}</ul>
    </p>
    <p>
    <h3>Enrolled Courses</h3>
    {% for course in courses %}
        <ul>{{ course.course_name }}</ul>
    {% endfor %}
    </p>
{% endblock %}