{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    Current Time: {{ time }}<br>
    {{ formative_message }}<br>
    {% if formative_message == "The following assessments are overdue:" %}
        <ul>
            {% for key,value in overdue_formative.iterrows() %}
                <li>{{ value['course_name'] }} {{ value['name'] }} {{ value['due_date'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if current_user.username != 'admin' %}
        <p>
            <a href="{{ url_for('subsessionfeedback', username=current_user.username, level = 1, session = 1) }}">
                Year 1 Sub Session 1 Feedback</a></p>
    {% endif %}
{% endblock %}