{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Home</h1>
    <h4><b>Overdue Assessments</b></h4>
    {{ formative_message }}<br>
    {% if formative_message == "The following formative assessments are overdue:" %}
        <ul>
            {% for key,value in overdue_formative.iterrows() %}
                <li>{{ value['course_name'] }} {{ value['name'] }} {{ value['due_date'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {{ summative_message }}<br>
        {% if summative_message == "The following summative assessments are overdue:" %}
        <ul>
            {% for key,value in overdue_summative.iterrows() %}
                <li>{{ value['course_name'] }} {{ value['name'] }} {{ value['due_date'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if upcoming_formative_message == "" %}
    {% else %}
        <h4><b>Upcoming Formative Assessments</b></h4>
        {{ upcoming_formative_message }}
        <ul>
            {% for key,value in upcoming_formative_assessments.iterrows() %}
                <li>{{ value['course_name'] }} {{ value['name'] }} {{ value['due_date'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if upcoming_summative_message == "" %}
    {% else %}
        <h4><b>Upcoming Summative Assessments</b></h4>
        {{ upcoming_summative_message }}
        <ul>
            {% for key,value in upcoming_summative_assessments.iterrows() %}
                <li>{{ value['course_name'] }} {{ value['name'] }} {{ value['due_date'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}