{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <h1>Programme Feedback</h1>
    <p><img src="data:image/png;base64, {{ plot_url }}"></p>
    <h4><b>General Feedback</b></h4>
    Your Level 1 Grade is: {{ level1grade }}<br>
    Your Level 2 Grade is: {{ level2grade }}<br>
    {{ feedback }}<br>
    <h4><b>Predictions</b></h4>
    <h5><b>Most Accurate Predictor</b></h5>
    Your Naive Bayes Predicted Level 2 Grade is {{ bayes_predictedl2 }}<br>
    {{ predicted_text }}<br>
    {% if perfect_attendance_prediction != "" %}
        If you had perfect attendance your predicted grade would have been
        {{ perfect_attendance_prediction }}
    {% else %} You had perfect
        attendance, well done!
    {% endif %}
    <h5><b>Other predictor's results</b></h5>
    Your Linear Regression Predicted Level 2 Grade is {{ regression_prediction }}<br>
    Your Decision Tree Predicted Level 2 Grade is
    {{ decision_tree_prediction }}<br>
    <h4><b>Mock Honours Classification</b></h4>
    If these two years were your honours years you would have the following
    final grade degree classification:
    <b>{{ mock_honours_grade }}</b><br>

    <p>
    <h4><b>Graduate Attributes</b></h4>
    {% for key,value in graduate_attributes.items() %}
        <li>{{ key }} {{ value }}%</li>
    {% endfor %}
    </p>
{% endblock %}