{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <p><img src="data:image/png;base64, {{ plot_url }}"></p>
    Your Level 1 Grade is: {{ level1grade }}<br>
    Your Regression Predicted Level 2 Grade is {{ predictedl2 }}<br>
    Your Bayes Predicted Level 2 Grade is {{ bayes_predictedl2 }}<br>
    Your Decision Tree Predicted Level 2 Grade is {{ decision_tree_prediction }}
    Your Level 2 Grade is: {{ level2grade }}<br>
    {{ predicted_text }}<br>
    If these two years were your honours years you would have the following final grade degree classification:
    <b>{{ mock_honours_grade }}</b><br>
    {{ feedback }}
{% endblock %}