{% extends "main.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Year Feedback</h1>
    {% if form is defined %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div><br>
    {% endif %}
    {% if sub_session1_grade is defined %}
        Your Average grade in sub session 1 was: {{ sub_session1_grade }}<br>
    {% endif %}
    {% if sub_session2_grade is defined %}
        Your Average grade in sub session 2 was: {{ sub_session2_grade }}<br>
    {% endif %}
    {% if sub_session_message is defined %}
        {{ sub_session_message }}<br>
    {% endif %}
    {% if year_grade is defined %}
        With these results your overall grade for the year is: {{ year_grade }}<br>
    {% endif %}
    {% if prediction is defined %}
        Based on your year 1 results your predicted year 2 grade based on previous classes is: {{ prediction }}<br>
    {% endif %}
    {% if plot_url is defined %}
        <p><img src="data:image/png;base64, {{ plot_url }}"></p>
    {% endif %}
    {% if sub_session1_rank is defined %}
        {{ sub_session1_rank }}<br>
    {% endif %}
    {% if sub_session2_rank is defined %}
        {{ sub_session2_rank }}
    {% endif %}
{% endblock %}